@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;200;300;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #292a2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #ff0266;
}
h1:hover {
  color: #03dac6;
}

.box {
  background-color: #292a2b;
  color: #faebd7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

h2:hover {
  color: #03dac6;
  font-weight: 200;
  font-size: 46px;
}

aside {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: calc(var(--edge-width) * -0.55);
  transform: translateY(-50%);
  width: 100%;
  z-index: 999;
}
aside div {
  align-items: center;
  color: white;
  display: flex;
}
aside div > * {
  align-items: center;
  display: flex;
}
aside div > * + * {
  margin-left: calc(var(--border-width) * 2);
}
aside div h3,
aside div label {
  font-size: calc(var(--edge-width) * 0.3);
  height: calc(var(--edge-width) * 0.3);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
aside div label {
  cursor: pointer;
}
aside div input {
  left: -99999px;
  position: absolute;
}

aside div input + * {
  opacity: 0.5;
}
aside div input:checked + * {
  font-weight: bold;
  opacity: 1;
}

aside div svg {
  height: calc(var(--edge-width) * 0.5);
  width: auto;
}

.floating-sidebar{
  max-width: 290px;
  min-height:48px;
  right:0px;
  position: absolute;
  background:#eee;
  overflow-x:hidden;
}
.sb-1{
    top:150px;
}
.sb-2{
    top:199px;
}
.sb-3{
    top:248px;
}
.sb-button{
  width:265px;
  margin-right:-220px;
  transition:ease 0.5s;
  height:48px;
  cursor:pointer;
}
.sb-button:hover{
  width:265px;
  margin-right:0px;
  transition:ease 0.5s;
}
.sb-icon{
  width:48px;
  height:48px;
  background:red;
  float:left;
}
.sb-icon .fa{
  text-align:center;
  color:#fff;
  font-size:22px;
  padding:13px;
}
.sb-link{
  color:#000;
  font-weight:bold;
  padding: 15px 13px 3px 13px;
  float:left;
}
